.root {
  padding: 5px;
  margin-bottom: 5px;
  width: 100%;
  .userImage {
    float: left;
    background-color: #bbb;
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }

  .userDetail {
    width: calc(100% - 35px);
    margin-left: 35px;
    min-height: 30px;
    padding: 5px;
    word-wrap: break-word;
    display: block;
    font-size: 12px;
    background-color: #FFF;
    border-radius: 4px;
  }
}
