.root {
  .coverImage {
    width: 100%;
    height: auto;
  }

  .content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    min-height: calc(100vh - 130px);
  }

  .featuredTrips {
    margin-top: 24px;
  }
}
