.root {
  padding: 10px 0;
  border-bottom: 1px solid #efefef;

  img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: inline-block;
  }

  span {
    padding-left: 10px;
  }
}
