.root {
  .weekRow {
    width: 100%;
  }
  
  .dayBox {
    width: 12.5%;
    border: 1px solid #EEE;
    float: left;
    text-align: center;
    box-sizing: border-box;
  }

  .weatherDay {
    background-color: #FFF;
    height: 55px;
  }
}
