.todoList {
  margin-top: 10px;
  position: relative;

  .manageButton {
    background-color: transparent;
    position: absolute;
    right: 0px;
    top: 0px;
    border: none;
    color: rgb(0,188,212);
    cursor: pointer;
    padding: 0;
    font-size: 14px;

    &:hover {
      color: rgb(0, 150, 200);
    }
  }

  h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
  }

  .recommend {
    margin-top: 10px;

    .title {
      font-weight: bold;
    }

    .recommendItem {
      background-color: #DDD;
      border-radius: 10px;
      height: 20px;
      display: inline-block;
      margin: 5px 5px 0;
      padding: 0 2px;
      cursor: pointer;

      img {
        height: 18px;
        width: 18px;
        border-radius: 9px;
      }

      span {
        padding: 0 5px;
      }
    }
  }
}

.todoItem {
  padding: 10px 0;
  border-bottom: 1px solid #efefef;

  img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: inline-block;
  }

  span {
    padding-left: 10px;
  }
}
