@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'src/variables.scss';

:global {
  input.mdl-textfield__input {
    border-radius: 0px;
  }

  .ReactModal__Overlay--after-open {
    z-index: 100;
  }
}

.root :global {
  background-color: #e9ebee;
  min-height: 100vh;
  position: relative;

  a {
    text-decoration: none;
    color: $blue;
  }
}

.root {
  .content {
    padding-top: 50px;
    min-height: calc(100vh - 130px);
  }
}

/**
 * Responsive text
 */

@media screen and (max-width: 1024px) {
  :global(.mdl-layout__header) {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .root :global {
    #logo {
      font-size: 0px;
      background: url('../../assets/logo_symbol.png') center no-repeat;
      background-size: cover;
      width: 40px;
      position: relative;
      display: block;
      height: 40px;
      text-indent: -900px;
    }
    .mdl-layout__header-row {
      padding: 0px 15px;
    }
  }
  .root {
    .menu {
        right: 15px;
    }
  }
}

:global(.skylight-dialog) {
  :global(.skylight-close-button) {
    color: $white;
    line-height: 44px;
    vertical-align: top;
  }
  h2 {
    font-size: 1em;
    line-height: 48px;
    text-align: center;
    background-color: $blue;
    color: $white;
    margin: 0px;
  }
  :global(.content) {
    padding: 20px 40px;
    overflow-y: auto;
  }
  :global(.func) {
    text-align: right;
    button {
      background-color: $blue;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      color: $white;
      margin-left: 20px;
      &:hover {
        background-color: $blue;
        box-shadow: 0 5px 10px rgba(0,0,0,0.25), 3px 3px rgba(0,0,0,0.22);
      }
    }
    button:global(.submit) {
      background-color: $blue;
      &:hover {
        background-color: $blue;
      }
    }
    button:global(.delete) {
      background-color: $black-light;
      &:hover {
        background-color: $black-light;
      }
    }
  }
}
