.root {
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  .userName {
    float: left;
    margin-right: 5px;
    color: #FFF;
  }
  .message {
    color: #FFF;
  }
}
