.root {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #FFF;
  .userImage {
    float: left;
  }

  .userName {
    margin-left: 50px;
    height: 50px;
    display: block;
    padding: 0 10px;
    span {
      font-weight: bold;
      font-size: 14px;
      line-height: 50px;
    }
  }
}
