.root {
  margin-top: 12px;
  position: relative;
  height: 100%;
  width: 100%;
  .messagesWrap {
    height: calc(100% - 70px);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
  }
  .formMessage {
    height: 70px;
    padding: 0px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    :global(.mdl-textfield) {
      width: 100%;
    }
  }
}
