.root {
  padding: 12px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
}

.header {
  border-bottom: 1px solid #d0d1d5;
  padding-bottom: 12px;
  min-height: 150px;
  position: relative;
}

.actions {
  position: absolute;
  right: 0px;
  top: 0px;
}

.previewPhoto {
  float: left;
  height: 150px;
}

.detail {
  padding: 0 10px;
  margin-left: 150px;

  h3.title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.5;
  }

  p.description {
    margin: 0px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .detailRow {
    margin-bottom: 10px;

    h4 {
      margin: 0 10px 0 0;
      font-size: 14px;
      font-weight: bold;
      display: inline-block;
      line-height: 1.5;
    }
  }
}

.todoList {
  margin-top: 10px;
  position: relative;

  .manageButton {
    background-color: transparent;
    position: absolute;
    right: 0px;
    top: 0px;
    border: none;
    color: rgb(0,188,212);
    cursor: pointer;
    padding: 0;
    font-size: 14px;

    &:hover {
      color: rgb(0, 150, 200);
    }
  }

  h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
  }

  .todoItem {
    padding: 10px 0;
    border-bottom: 1px solid #efefef;

    img {
      width: 30px;
      height: 30px;
      border-radius: 15px;
      display: inline-block;
    }

    span {
      padding-left: 10px;
    }
  }

  .recommend {
    margin-top: 10px;

    .title {
      font-weight: bold;
    }

    .recommendItem {
      background-color: #DDD;
      border-radius: 10px;
      height: 20px;
      display: inline-block;
      margin: 5px 5px 0;
      padding: 0 2px;
      cursor: pointer;

      img {
        height: 18px;
        width: 18px;
        border-radius: 9px;
      }

      span {
        padding: 0 5px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .previewPhoto {
    width: 100%;
    height: auto;
    float: none;
  }

  .detail {
    margin-left: 0px;
    padding: 10px 0 0 0;
  }
}
