@import 'src/variables.scss';

.root {
  margin-bottom: 12px;
  padding: 12px;
  @extend .borderBox;

  h3.title {
    margin: 0;
    padding-bottom: 6px;
    margin-bottom: 6px;
    font-size: 18px;
    border-bottom: 1px solid #DDD;
    line-height: 25px;
    text-align: center;
    color: #00AFF0;
  }
}
