@import 'src/variables.scss';

.root {
  margin-bottom: 12px;
  padding: 12px;
  @extend .borderBox;

  h3.title {
    margin: 0;
    padding-bottom: 6px;
    margin-bottom: 6px;
    font-size: 18px;
    border-bottom: 1px solid #DDD;
    line-height: 25px;
    text-align: center;
    color: #00AFF0;
  }

  .attachmentBox {
    width: 50%;
    height: auto;
    display: inline-block;
    box-sizing: border-box;
    padding: 1px;
    border: none;
    background: none;
  }

  .addBtn {
    button {
      margin: 0;
      padding: 0;
      border: none;
      background-color: #EEE;
      cursor: pointer;
      width: 100%;
    }

    .previewImg {
      padding: 30%;
    }
  }

  .previewImg {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .uploadArea {
    width: 100% !important;
    height: auto !important;
    display: inline-block !important;
    border: none !important;
  }
}

@media only screen and (max-width: 480px) {
  .root {
    .attachmentBox {
      width: 50%;
    }
  }
}
