@import 'src/variables.scss';

.root {
  padding: 12px;
  margin-bottom: 10px;
  @extend .borderBox;

  .uploadArea {
    width: auto !important;
    height: auto !important;
    display: inline-block !important;
    border: none !important;
    margin-right: 10px;
  }

  .previewWrapper {
    margin-bottom: 5px;
    width: 100%;
    overflow-x: auto;
    padding: 5px;
    /* height: 100px; */

    img {
      width: 80px;
      height: 80px;
      margin: 0 8px 8px 0;
      box-shadow: 0 0 5px #666;
    }
  }
  .checkinAddressBox{
    margin-bottom: 10px;
    .checkinAddress {
      color: #365899;
    }
    .checkInClear {
      margin-top: -12px;
      min-width: 24px;
      width: 24px;
      height: 24px;
      &:hover {
        background-color: transparent;
      }
      i {
        font-size: 16px;
        width: 16px;
        line-height: 16px;
      }
    }
  }
  .func :global {
    .mdl-button{
      color: #FFF;
    }
  }
}
