@import 'src/variables.scss';

.root {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 10px 0;

  a {
    text-decoration: none;
  }

  .leftColumn {
    width: 300px;
    float: left;
  }

  .content {
    margin-left: 10px;
    width: calc(100% - 310px);
    float: left;
  }
}

@media only screen and (max-width: 800px) {
  .root {
    .leftColumn {
      display: none;
    }

    .content {
      width: 100%;
      margin-left: 0;
    }
  }
}
