/* ==========================================================================
   COLOR
   ========================================================================== */
$white: #FFFFFF;
$black: #424242;
$gray: #E3E3E3;
$blue: #00BCD4;
$blue-dark: #00a9be;
$black-light: #727272;


/* COLOR FOR TEAM */
$team-red: #eb5a46;
$team-green: #64bb55;
$team-blue: #127abc;
$team-brown: #8b623c;
$team-brown-dark: #534741;
$team-blue-dard: #0a5c7d;
