/* ==========================================================================
   COLOR
   ========================================================================== */
$white: #FFFFFF;
$black: #424242;
$gray: #E3E3E3;
$blue: #00BCD4;
$blue-dark: #00a9be;
$black-light: #727272;


.borderBox {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.smallBtn {
  color: #FFF;
  height: 24px;
  line-height: 26px;
  font-size: 11px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
