.root {
  max-width: 1250px;
  margin: 0 auto;

  .tripCover {
    max-height: 300px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: auto;
    }

    h1 {
      font-size: 20px;
      position: absolute;
      top: 10px;
      left: 10px;
      margin: 0;
      padding: 0;
      font-weight: bold;
      text-shadow: 0 0 3px #FFF;
    }
  }

  .localityFinder :global {
    padding: 0 15px;

    .placesTable {
      thead {
        display: none;
      }

      .placeRow {
        display: block;
        border: none;
        background: none;
        text-align: left;
        border-bottom: 1px solid #EEE;
        width: 300px;
        max-width: 100%;

        &:hover {
          background-color: #DDD;
          cursor: pointer;
        }

        p {
          margin: 0;
          height: 35px;
          line-height: 35px;
        }
      }
    }
  }
}
