@import 'src/variables.scss';
.root {
  height: 100%;
  position: relative;
  .leftColumn {
    width: 250px;
    height: calc(100% - 50px);
    border-right: 1px solid #CCC;
    top: 50px;
    position: fixed;
    left: 0;
  }
  .tripContent {
    width: 600px;
    margin-left: calc((100% - 600px + 250px)/2);
    .tripCover {
      position: relative;
      width: 100%;
      height: 338px;
      img {
        width: 100%;
        height: 100%;
      }

      .videoCover {
        width: 100%;
        height: 100%;
      }
    }

    .tripDetail {
      @extend .borderBox;
      margin-bottom: 12px;
      padding: 12px;
      position: relative;

      .nameTrip {
        font-size: 16px;
        margin: 0;
        padding: 0 0 5px 0;
        width: calc(100% - 50px);
        font-weight: bold;
        text-shadow: 0 0 3px #FFF;
        border-width: 0;
        &:focus {
          outline: none;
          border-bottom-width: 1px;
          border-bottom-color: rgb(0,188,212);
        }
      }
      .settingBtn {
        position: absolute;
        right: 8px;
        top: 8px;
      }
    }

    .localities {
      position: relative;
      padding: 0px;
      margin: 0 -8px;
    }

    .videoContainer {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow: hidden;
    }

    .videoContainer iframe,
    .videoContainer object,
    .videoContainer embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .headerTab {
      background-color: #FFF;
    }

    .timeline {
      margin-top: 12px;
    }
  }
}
